# Ejercicios sobre lo aprendido

## Suban este notebook resuelto al drive con la nomenclatura nombre_apellido_TP_2

_____
**Usar <code>for</code>, .split(), e <code>if</code> para imprimir todas las palabras que empiecen con 's':**

In [1]:
st = 'Solo vas a imprimir la palabras que simplemente empiecen con s'

In [1]:
st = 'Solo vas a imprimir la palabras que simplemente empiecen con s'
st=st.split()
for carac in st:
    if carac[0]=="S":
        print(carac)
    elif carac[0]=="s":
        print(carac)

Solo
simplemente
s

____
**Recorrer el string e imprimir las palabras que tengan una cantidad par de caracteres**

In [1]:
st = 'Vamos a imprimir solo aquellas palabras con cant de letras pares'

In [2]:
st = 'Vamos a imprimir solo aquellas palabras con cant de letras pares'
st=st.split()
for palabras in st:
    if (len(palabras)%2==0):
        print(palabras)

imprimir
solo
aquellas
palabras
cant
de
letras


**Escribir un programa que imprima los enteros del 1 al 100, pero para los multiplos de 3 va a imprimir "Fizz" en lugar del numero y para los multiplos de 5 va a imprimir "Buzz". Para aquellos numeros que son multiplos de 3 y 5 simultaneamente, vamos a imprimir "FizzBuzz".**

In [3]:
for i in range (101):
    
    if (((i)%3==0) and ((i)%5==0)):
        i="FizzBuzz"
        print(i)        
    elif ((i)%3==0):
        i="Fizz"
        print(i)
    elif ((i)%5==0):
        i="Buzz"
        print(i)
    else:
        print(i)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

____

**Supongamos que tenemos una lista con distintos datos de distintas personas, vamos a tener el nombre, apellido, provincia de origen y fecha de nacimiento.**

 1. Visualizar los datos de la lista de manera ordenada.
 2. Estandarizar los nombres, apellidos y provincias para que empiecen con mayuscula.
 3. Calcular la edad de cada persona al dia de hoy y agregar esa edad a nuestro conjunto de datos.
 4. Mostrar los datos de todas aquellas personas mayores a 55 a√±os.
 5. Mostrar los datos de todas aquellas personas que tienen un nombre que empieza con 'J'.

In [2]:
personas = [['NOMBRE', 'APELLIDO', 'PROVINCIA', "NACIMIENTO"],
 ['Joaquin', 'Gorina', 'Chubut', '1967'],
 ['jose', 'Olmedo', 'misiones', '1988'],
 ['Julian', 'sosa', 'misiones', '2005'],
 ['florencia', 'lopez', 'neuquen', '2000'],
 ['sol', 'sanchez', 'salta', '1997'],
 ['xiMena', 'asturiAS', 'chubut', '1999'],
 ['sol', 'sanchez', 'chubut', '1993'],
 ['manuel', 'Olmedo', 'chaco', '1980'],
 ['jaVIer', 'montoya', 'tucuman', '1969'],
 ['rosa', 'montoya', 'tucuman', '1927'],
 ['miguel', 'montoya', 'tucuman', '1934'],
 ['jose', 'olmos', 'salta', '1977']]

In [3]:
#lista ordenada y estandarizada (1 y 2)
personas = [['NOMBRE', 'APELLIDO', 'PROVINCIA', "NACIMIENTO"],
 ['Joaquin', 'Gorina', 'Chubut', '1967'],
 ['jose', 'Olmedo', 'misiones', '1988'],
 ['Julian', 'sosa', 'misiones', '2005'],
 ['florencia', 'lopez', 'neuquen', '2000'],
 ['sol', 'sanchez', 'salta', '1997'],
 ['xiMena', 'asturiAS', 'chubut', '1999'],
 ['sol', 'sanchez', 'chubut', '1993'],
 ['manuel', 'Olmedo', 'chaco', '1980'],
 ['jaVIer', 'montoya', 'tucuman', '1969'],
 ['rosa', 'montoya', 'tucuman', '1927'],
 ['miguel', 'montoya', 'tucuman', '1934'],
 ['jose', 'olmos', 'salta', '1977']] 
for i in range (1,len(personas)):
    print(" ")
    for j in range (len(personas[i])):
        personas[i][j]=personas[i][j].capitalize()
for i in range (len(personas)):
    print(" ")
    for j in range (len(personas[i])):
        print(f"{personas[i][j]:{12}}", end=" ")

NOMBRE       APELLIDO     PROVINCIA    NACIMIENTO
Joaquin      Gorina       Chubut       1967
Jose         Olmedo       Misiones     1988
Julian       Sosa         Misiones     2005
Florencia    Lopez        Neuquen      2000
Sol          Sanchez      Salta        1997
Ximena       Asturias     Chubut       1999
Sol          Sanchez      Chubut       1993
Manuel       Olmedo       Chaco        1980
Javier       Montoya      Tucuman      1969
Rosa         Montoya      Tucuman      1927
Miguel       Montoya      Tucuman      1934
Jose         Olmos        Salta        1977

In [11]:
# ejercicios 3: agregamos la columna Edad en la primera lista que contiene los elementos de la fila  del encabezado, luego recorremos las
# listas desde el elemento 1 para cambiar el a√±o de nacimiento de cada lista a type int y por √∫ltimo sumamos a cada lista la
# edad restando por el a√±o corriente. Lo √∫nico, que al agregarlo con un ciclo for, se nos agregaba 4 veces (por cada elemento)
# que era recorrido por lista (4 veces), as√≠ que hicimos un bache con un condicional if para que s√≥lo agregue el nuevo elemento
# de la edad cuando la longitud de la lista sea de 4 elementos. Se entiende? Creo que lo mejor ser√≠a comprender bien la orden de
# iteraci√≥n y s√≥lo pasar 1 vez por lista y sumar 1 sola vez la edad, pero no me sali√≥ y lo tap√© con el condicional :3 Supongo
# que es posible de hacer sin el condicional y solo mediante indicar que recorra las listas 1 sola vez. Intent√© algunas veces
# pero finalmente no me sali√≥ y opt√© por este m√©todo para resoluci√≥n de la consigna. Al final tuve que volver a convertir el a√±o
# y la edad en string para poder usar el .capitalize()


personas[0].append("Edad")
for i in range (1,len(personas)):
    for listas in range(len(personas[i])):
        if ((len(personas[i]))==4):
            (personas[i][3])= int (personas[i][3])
            personas[i].append(2020-personas[i][3])
            personas[i][4]=str(personas[i][4])
            personas[i][3]=str(personas[i][3])
personas

[['NOMBRE',
  'APELLIDO',
  'PROVINCIA',
  'NACIMIENTO',
  'Edad',
  'Edad',
  'Edad',
  'Edad'],
 ['Joaquin', 'Gorina', 'Chubut', '1967', '53', 53],
 ['Jose', 'Olmedo', 'Misiones', '1988', '32', 32],
 ['Julian', 'Sosa', 'Misiones', '2005', '15', 15],
 ['Florencia', 'Lopez', 'Neuquen', '2000', '20', 20],
 ['Sol', 'Sanchez', 'Salta', '1997', '23', 23],
 ['Ximena', 'Asturias', 'Chubut', '1999', '21', 21],
 ['Sol', 'Sanchez', 'Chubut', '1993', '27', 27],
 ['Manuel', 'Olmedo', 'Chaco', '1980', '40', 40],
 ['Javier', 'Montoya', 'Tucuman', '1969', '51', 51],
 ['Rosa', 'Montoya', 'Tucuman', '1927', '93', 93],
 ['Miguel', 'Montoya', 'Tucuman', '1934', '86', 86],
 ['Jose', 'Olmos', 'Salta', '1977', '43', 43]]

In [12]:
# ejercicio 3 PD: creo que era simplemente poner "in range (1)" en el segundo for!

personas[0].append("Edad")
for i in range (1,len(personas)):
    for listas in range(1):
        personas[i][3]= int (personas[i][3])
        personas[i].append(2020-personas[i][3])
        personas[i][4]=str(personas[i][4])
        personas[i][3]=str(personas[i][3])
personas

[['NOMBRE',
  'APELLIDO',
  'PROVINCIA',
  'NACIMIENTO',
  'Edad',
  'Edad',
  'Edad',
  'Edad',
  'Edad'],
 ['Joaquin', 'Gorina', 'Chubut', '1967', '53', 53, 53],
 ['Jose', 'Olmedo', 'Misiones', '1988', '32', 32, 32],
 ['Julian', 'Sosa', 'Misiones', '2005', '15', 15, 15],
 ['Florencia', 'Lopez', 'Neuquen', '2000', '20', 20, 20],
 ['Sol', 'Sanchez', 'Salta', '1997', '23', 23, 23],
 ['Ximena', 'Asturias', 'Chubut', '1999', '21', 21, 21],
 ['Sol', 'Sanchez', 'Chubut', '1993', '27', 27, 27],
 ['Manuel', 'Olmedo', 'Chaco', '1980', '40', 40, 40],
 ['Javier', 'Montoya', 'Tucuman', '1969', '51', 51, 51],
 ['Rosa', 'Montoya', 'Tucuman', '1927', '93', 93, 93],
 ['Miguel', 'Montoya', 'Tucuman', '1934', '86', 86, 86],
 ['Jose', 'Olmos', 'Salta', '1977', '43', 43, 43]]

In [9]:
# ejercicio 4: se toman solamente las filas/listas de personas mayores a 55 a√±os

for i in range (1,len(personas)):
    if(personas[i][4])>=55:
        print(personas[i])

['Rosa', 'Montoya', 'Tucuman', 1927, 93]
['Miguel', 'Montoya', 'Tucuman', 1934, 86]

In [13]:
#ejercicio 5: tomamos la primera letra de cada fila/lista de personas que comiencen con J para imprimir su fila completa

for i in range (1,len(personas)):
    for j in range (1):
        if(personas[i][0][0])=="J":
            print(personas[i])

['Joaquin', 'Gorina', 'Chubut', '1967', '53', 53, 53]
['Jose', 'Olmedo', 'Misiones', '1988', '32', 32, 32]
['Julian', 'Sosa', 'Misiones', '2005', '15', 15, 15]
['Javier', 'Montoya', 'Tucuman', '1969', '51', 51, 51]
['Jose', 'Olmos', 'Salta', '1977', '43', 43, 43]